<div>
	<h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" id="user" name="UserName" required>
        <input type="text" id="email" name="Email" required>
        <button type="submit">LOGIN</button>
    </form>
    <a href="/register">REGISTER</a>
</div>