<div>
	<h1>CREATE NEW ACCOUNT</h1>
    <form action="/register" method="post">
        <input type="text" id="user" name="UserName" placeholder="username" required>
        <input type="text" id="email" name="Email" placeholder="email@mail.com" required>
        <input type="password" id="password" name="Password" placeholder="password" required>
        <button type="submit">REGISTER</button>
    </form>
    <a href="/login">LOGIN</a>
</div>